body{
  font-family: 'Muli', sans-serif;
  color: #505050;
}

.no-outline:focus, .no-outline:active:focus, .no-outline.active:focus,
.no-outline.focus, .no-outline:active.focus, .no-outline.active.focus {
  outline: none !important; box-shadow: none !important;
}


// /* Provide sufficient contrast against white background */
// a {
//   color: #0366d6;
// }

// code {
//   color: #E01A76;
// }

// .btn-primary {
//   color: #fff;
//   background-color: #1b6ec2;
//   border-color: #1861ac;
// }

// a.navbar-brand {
//   white-space: normal;
//   text-align: center;
//   word-break: break-all;
// }

// html {
//   font-size: 14px;
// }
// @media (min-width: 768px) {
//   html {
//     font-size: 16px;
//   }
// }

// .box-shadow {
//   box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
// }

:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-dark {
  background: #333;  
  color: white;  
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;  
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

.home_section
{
  padding-top: 57px;
  height: 100vh;
  position: relative;

  video{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .colorOverlay
  {
    background-color: rgba($color: #333, $alpha: 0.75);    
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.home_section_urls
{
  width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 10%;
}

.vertical-center {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.btn
{
  border-radius: 0;
  padding: 15px;  
  font-size: 1em;
  border-width: 2px;  

  svg
  {
    margin-left: 5px;
    transition: 0.25s transform ease-in-out;
  }
}

.btn-outline-primary
{
  color: white!important;
  border-color: white!important;
}

.btn-outline-primary:hover{
  color: #3498db!important;
  border-color: #3498db!important;
  background-color: transparent;
}

.btn_rotate_svg:hover{
  svg
  {
    transform: rotate(90deg);
  }
}

.btn_full_transparent
{
  background-color: transparent!important;
}

.languagesContainer
{
  img{
    height: 75px;
    width: 75px;
    display: block;
    margin:auto;
    margin-bottom: 25px;    
  }
}


.form-control-transparent
{
  background-color: transparent!important;
}

.badge
{
  background-color: #3498db;
}

.btn:active{
  color:white!important;
}

.outline-dark
{
color: #505050!important;
border-color: #505050!important;
}


.resume
{  
  min-height: 100vh;  
  font-size: large;

  a{
    text-decoration: none!important;
  }

  .leftBlock
  {      
    padding-left: 50px;
    padding-top: 30px;
    background-color: #f4f4f6!important;
    
    hr{
      height: 2px;
      background-color: white;
      width: 100%;
    }

    .contactInfo
    {
      svg
      {
        margin-right: 5px;
      }
    }
  }
  
  .rightBlock
  {    
    padding-right: 50px;
    padding-top: 30px;
    background-color: white;
  }
}